* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Montserrat", "Fraunces", sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

body {
    background-color: #f2ebe3;
}

.card-container {
    width: 90%;
    overflow: hidden;
    background-color: #fff;
    margin: 5em auto;
    border-radius: 0.5rem;
    max-width: 25em;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
    container-type: inline-size;
}
/* top section start */
.top-section {
    background-image: url(./images/image-product-mobile.jpg);
    background-size: cover;
    background-position: center;
    height: 220px;
}
/* top section end */
/* bottom section start */

.bottom-section {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
}

#pic-name {
    font-family: "Montserrat";
    font-size: 0.6rem;
    color: #6c7289;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    margin-block-end: 0.9em;
}

#perfume-name {
    font-family: "Fraunces";
    margin-block-end: 0.4em;
}

#description {
    font-size: 0.8rem;
    color: #6c7289;
    margin-block-end: 1.5em;
}

.price-container {
    display: flex;
    align-items: center;
    margin-block-end: 0.7em;
}

#new-price {
    font-size: 2rem;
    color: #3c8067;
    font-family: "Fraunces";
    font-weight: 700;
}

#old-price {
    font-size: 0.9rem;
    font-family: "Fraunces";
    /* font-weight: 700; */
    color: #6c7289;
    text-decoration: line-through;
    margin-inline-start: 1.3em;
}

.buttom-container {
    display: flex;
    background-color: #3c8067;
    padding: 1em ;
    justify-content: center;
    border-radius: 0.5em;
}

button {
    border: none;
    background-color: transparent;
    color: #fff;
    margin-inline-start: 1em;
    font-weight: 700;
}

@container (min-width: 500px) {
    .card-container {
        display: flex;
    }
}

@media (min-width:768px) {
    .card-container {
        display: flex;
        max-width: 33.25em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .top-section {
        background-image: url(./images/image-product-desktop.jpg);
        background-size: cover;
        background-position: center;
        height: auto;
        flex-basis: 50%;
    }

    .bottom-section {
        flex-basis: 48%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
    }
}